@import '~node_modules/modern-normalize/modern-normalize.css';
.gallery__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
   
}
.gallery__item{
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 4px;
}
.info-wrap {
    pointer-events: none;
}