@import '~node_modules/modern-normalize/modern-normalize.css';
.header{
    height: 230px;
    background-color: rgb(51, 99, 195);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

#form input {
    background-color: transparent;
    // border:transparent;
    border-bottom: 1px soliid black;
    color: aliceblue;
}
nav{
    

    margin-bottom: 50px;

button {
        border: transparent;
        background-color: transparent;
        color: white;
        cursor: pointer;

        &:hover,
        &:focus {
            color: red;
           
        }

    }
}
