@import '~node_modules/modern-normalize/modern-normalize.css';
#backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.modal {
  position: absolute;
  top: 5vw;
  left: 5vw;
  right: 5vw;
  bottom: 5vw;
  background-color: #fff;
  padding: 48px 20px;
  overflow: auto;
  @media screen and(min-width:476px){
  right: 15vw;
    left: 15vw;
  }

  @media screen and(min-width:768px) {
    max-width: 704px;
    padding: 0px;
    display: flex;
  }
  @media screen and(min-width:1200px) {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);

    max-width: 806px;
  }
}

.img-wrap {
  margin-bottom: 20px;
    img {
        border-radius: 5px;
      }

  @media screen and(min-width:768px) {
    width: 50%;
    margin-bottom: 0;
    padding: 40px;
  }

  @media screen and(min-width:1200px) {
    padding: 40px 12px;
  }
}

.description-wrap {
  @media screen and(min-width:768px) {
    width: 50%;
    padding: 40px;
  }

  @media screen and(min-width:1200px) {
    padding: 40px 4px;
  }
}

.card__title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;

  @media screen and(min-width:1200px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.card__info {
  margin-bottom: 20px;
  td {
    width: 50%;
  }
}

.card__option {
  text-align: center;
  @media screen and(min-width:768px){
    display: flex;
  }

  button {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    padding: 13px;
    border-radius: 5px;
    &:hover {
      background-color: #ff6b01;
      color: white;
      border: transparent;
    }
  }
}

.card__about {
  margin-bottom: 20px;
  line-height: 20px;
}

.close-modal {
  position: absolute;
  border: transparent;
  border-radius: 50%;
  padding: 5px;
  top: 20px;
  right: 20px;
  &:hover {
    background-color: #ff6b01;
    color: white;
  }
}
