<header class="header">
  <span class="header__logo">logo</span>
  <nav class="header__nav">
    <button class="header__btn-home" type="button">Home</button>
    <!-- <button class="header__btn-libary" type="button">My Libary</button> -->
  </nav>

  <form class="form">
    <input type="text" name="input" placeholder="search" />
  </form>

  <!-- <div class="libary__options visually-hidden">
    <button class="libary__options-watched">Watched</button>
    <button class="libary__options-queue">Queue</button>
  </div> -->
</header>
<main>
  <ul class="gallery"></ul>

  <div class="gallery__option">
   
    <div class="pagination">
      <button class="prev-btn visually-hidden">prew list</button>
      <button class="pangination__btn ">1</button>
      <button class="pangination__btn ">2</button>
      <button class="pangination__btn ">3</button>
      <button class="pangination__btn ">4</button>
      <button class="pangination__btn ">5</button>
      <button class="pangination__btn ">6</button>
      <button class="last-page">last</button>
      <button class="next-btn">next list</button>
    </div>
   
  </div>
</main>
<footer>
  <span>© 2022 | All Rights Reserved |</span>
</footer>
<div class="backdrop visually-hidden"></div>
<div class="test-root"></div>
