button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    background-color: #53a1cb;
    color: white;
    &:hover{
        background-color: #f402a2;
    }
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #c1a1d2;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
