@import '~node_modules/modern-normalize/modern-normalize.css';
.header {
  height: 140px;
  padding: 24px;

    button {
        width: 74px;
        height: 24px;
      }
}
.header__nav{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  @include tablet {
    justify-content: flex-end;
    }
}
.form {
  margin: 0 auto;
  @include tablet {
    width: 320px;
  }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid black;
  
    }
}
.library__options{
  display: flex;
  align-items: center;
  justify-content:center;
  gap :15px;
  margin: 0 auto;


}


