@import '~node_modules/modern-normalize/modern-normalize.css';
.header {
  height: 180px;
}
.header__nav{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}
.form {
  margin: 0 auto;
  @include tablet {
    width: 400px;
  }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid black;
  
    }
}
.library__options{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 280px;
  margin: 0 auto;

}


