@import '~node_modules/modern-normalize/modern-normalize.css';
.header {
  height: 180px;
  background-color: rgb(51, 99, 195);
  padding: 32px;
}
.header__logo{
  font-size: 44px;
  color: white;
}
.header__nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}
.form {
  margin: 0 auto;
  @include tablet {
    width: 400px;
  }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid black;
      color: aliceblue;
  
      &::placeholder {
        color: rgba(255, 255, 255, 0.85);
      }
    }
}


