@import '~node_modules/modern-normalize/modern-normalize.css';
.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 90%;
  max-width: 280px;

  @include tablet {
    max-width: 704px;
    max-height: 522px;
  }

  @include desktop {
    max-width: 806px;
    max-height: 558x;
  }
}
.modal__card {
  max-width: 100%;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  @include tablet {
    padding: 24px;
    display: flex;
    gap: 20px;
  }

  @include desktop {
    overflow: visible;
  }
}
.modal__content{
position: relative;
  margin-bottom: 20px;
  @include tablet {
    width: 40%;
      margin-bottom: 0;
    }
  
}
.modal__img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;

}

.modal__description-wrap {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include tablet {
  width: 60%;
    }
  
    // @include desktop {
    //   width: 65%;
    // }

  

 
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @include desktop {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal__info {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.33;
  width: 100%;
  &-key {
    color: #8c8c8c;
  }

  &-value {
    color: black;
  }

  td {
    width: 50%;
  }
}
.modal__info-value--accent {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: #ff6b01;
}

.modal__info-key--accent {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.modal__about-title {
  font-size: 12px;
  line-height: 1.33;
}

.modal__about-text {
  flex-grow: 1;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
}

.modal__option {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    justify-content: space-around;
  }

  button {
    width: 110px;
    height: 44px;

    @include tablet {
      width: 125px;
    }

    @include desktop {
      width: 136px;
    }
    &:hover {
      background-color: #ff6b01;
      color: white;
      border: transparent;
    }
  }
}
.isActive {
  background-color: #ff6b01;
  color: white;
  border: transparent;
}

.modal__close {
  position: absolute;
  border: transparent;
  background-color: transparent;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;

  &:hover {
    color: #ff6b01;
  }
}
.video-frame{
  width: 100%;
    height: 60%;
  @include tablet{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60%
  }
;




}
.modal__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: #ff6b01;
  color:white;
  transform: translate(-50%, -50%);
  cursor: pointer;
}



