.pagination{
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button:hover{
    background-color: aqua;
    }
}
.current-page{
    background-color: aqua;
}
.page-number-box{

    width: 160px;
display: flex;
align-items: center;
justify-content: space-between;
}